$background-color: #FFFFFF;
$text-color: #68656F;
$icon-color: #E49683;

@font-face {
  font-family: 'Quicksand Light';
  src: url('./Quicksand-Light.ttf'); 
}

@font-face {
  font-family: 'Quicksand Regular';
  src: url('./Quicksand-Regular.ttf'); 
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: 'Quicksand Light';
  font-size: 18px;
}

// Loading circle //

#loading {
  border: 8px solid $text-color; 
  border-top: 8px solid $icon-color; 
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  animation: spin 1.5s ease infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

// Current weather //

.current {
  // border: 1px solid $icon-color;
  margin-top: 20px;
  padding: 5px;
  .time {
    font-size: 1.3em;
  }
  .city-name {
    font-size: 2.6em;
    font-family: 'Quicksand Regular';
    margin-top: 5px;
  }
  .summary {
    font-size: 1.1em;
    color: lighten($text-color, 10%);
  }
  .temp {
    font-size: 5.2em;
    font-weight: 100;
    color: $icon-color; 
    padding-left: 10px;

  }
  i.wi {
    font-size: 5.4em;
    color: $icon-color;
    font-weight: 100;
    margin: 20px;
    opacity: 0.8; 
    padding: 5px;
    padding-left: 0px;
  }
}

// Forecast //

.forecast {
  // border: 1px solid $icon-color;
  margin-top: 20px;
  padding: 10px;
}

.single-day {
  text-align: center;
  padding: 10px;
  .day-name {
    font-size: 1.1em;
    font-family: 'Quicksand Regular';
  }
  i.wi {
    font-size: 2em;
    color: darken($icon-color, 5%); 
    margin: 10px;
  }
  .temp {
    font-size: 1em;
    margin-top: 10px;
  }
  // color: $text-color;
}

.hourly {
  i {
    font-size: 25px;
    display: block;
  }
}

.table {
  // border: 1px solid black;
  i {
    font-size: 25px;
  }
}


